<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CutClutter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PictureSortingBin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CutClutter.Properties.Settings>
            <setting name="CopyModeRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyModeLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="AllFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastDirectorySource" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDirectoryLeft" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDirectoryRight" serializeAs="String">
                <value />
            </setting>
        </CutClutter.Properties.Settings>
        <PictureSortingBin.Properties.Settings>
            <setting name="CopyModeRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyModeLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
        </PictureSortingBin.Properties.Settings>
    </userSettings>
</configuration>